.char-list-filter {
  position: sticky;
  top: 0; /* This tells it to stick at the top */
  border-bottom: 1px solid white;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: rgba(236, 232, 232, 0.501);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
}

.char-list-filter-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.filter-title {
  padding: none;
  padding-bottom: 5px;
  padding-right: 22px;
  border-bottom: 3px solid #fff;
}

.char-list-filter-count {
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.char-list-filter-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.char-list-filter-search {
  position: relative;
}
#clear-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 5px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.char-list-filter-input {
  border: 2px solid #36373c;
  background-color: #36373c;
  color: #fff;
  padding: 8px;
  width: 160px;
  height: 18px;
}
.char-list-filter-input:focus {
  outline: none;
  border: 2px solid #36373c;
  background-color: #fff;
  color: #36373c;
}
.char-list-filter-input:focus + #clear-btn {
  display: none;
}
.filter-select-inputs {
  display: flex;
  gap: 3px;
}

select {
  border: 1px solid #fff;
  color: #fff;
  background-color: #36373c;
  padding: 8px;
}
select:focus {
  outline: none;
}
.role-buttons {
  display: flex;
  gap: 4px;
}
.role-buttons button {
  cursor: pointer;

  background-color: #36373c;
  color: #fff;
  border: none;
}
#dps-btn {
  border-bottom: 2px solid #ff0000;
  color: #ff0000;

  padding: 8px 12px;
}
#subdps-btn {
  border-bottom: 2px solid #0084ff;
  color: #0084ff;

  padding: 8px 12px;
}
#support-btn {
  border-bottom: 2px solid #f2ff00;
  color: #f2ff00;

  padding: 8px 12px;
}
#healer-btn {
  border-bottom: 2px solid #2bff00;
  color: #2bff00;

  padding: 8px 12px;
}
@media (max-width: 907px) {
  .char-list-filter-sort {
    flex-direction: column;
  }
  .char-list-filter-input {
    width: 100%;
  }
  .char-list-filter-search {
    width: 100%;
  }
}
